extends layout

block subhead
    script(src="javascripts/jquery-2.1.1.js")
    script(src="javascripts/optionrow.js")
    script(src="javascripts/versioner.js")

block content
    div(id="createInterface", align="middle")
        form(id="createForm", cation="/create", method="post")
            h2 Create New Cellpack Recipe &nbsp
            h3 Recipe Name
            input(type="text", name="recname")
            br
            br
            br
            div(id="recOptions", style="float:left;width:48%")
                h3 Recipe Options
                h4 Option Label &nbsp Option Value
                div(id="recOptionFields")
                    input(type="text", class="optionLabs", name="optionLab")
                    input(type="text", class="optionVals", name="optionVal")
                br
                br
                button(type="button", id="recOptioner") Add More Recipe Options
            div(id="recChildren", style="float:right;width:48%")
                h3 Recipe Children
                h4 Recipe Child &nbsp Child Version
                select(name="recname", class="recn")
                    each rn, index in recNames
                        option(value=rn)= rn
                select(name="recversion", class="recv")
                br
                br
                button(type="button") Add More Recipe Children
            div(id="formFooter", align="middle", style="clear:both")
                br
                br
                br
                button(type="submit") Create New Recipe
