extends layout

block subhead
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.0/backbone-min.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.1/backbone.marionette.min.js", type="text/javascript")
    script(id="recipeTemplate", type="text/template")
        | <li><button class="nameButton" type="button" data-id="<%= cid %>"><%= name %></button></li>
    script(id="focusTemplate", type="text/template")
        | <input type="text" id="rec-name" value="" placeholder="<%= name %>">
        | <br>
        | Option <input type="text" placeholder="<%= option %>">
        | <br>
        | <button id="child" type="button"> Create Child </button>
        | <button id="delete" type="button"> Delete Recipe </button>
        | <br>
        | <button id="save" type="button"> Save Recipe </button>
    script(src="javascripts/create-marionette.js", type="text/javascript")
    
block content
    div(id="createContainer", align="middle")
        div(id="createHeader")
            h2 Create New Recipe

        div(id="interfaceContainer" style="height:150px")
            div(id="treeContainer", style="float:left;width:39%;height:100%;overflow:scroll")
                | Loading Tree...
            div(id="recipeInterfaceContainer", style="float:right;width:60%;height:100%")
                div(id="focusContainer", align="middle;overflow:scroll")
                    | Loading Recipe...
        br
        div(id="controlContainer", align="middle")
            button(id="committer", type="button") Save Complete Tree
