extends layout

block content
  div(id="versioncontain", style="height:150px")
    div(id="content", align="middle")
      h2 Visualize autoPACK Recipe &nbsp 
        select
          each rn in recipeNames
            option= rn

      h2 Version Number &nbsp
        select
      h2 Display &nbsp
        select
          option JPEG
          option WebGL

  div(id="images", align="middle")
    img(src="images/hiv.png", style="width:400px")