extends layout

block subhead
    script(src="javascripts/version.js", type="text/javascript")

block content
    div(id="versioncontain", style="height:75px", align="middle")
        h2 Download autoPACK Recipe &nbsp
            form(method='post', action='/download')
                select(name='recname', class='nameselect')
                    each rn, index in recNames
                        option(value=rn)= rn
                select(name='recversion', class='versionselect')
                button(type="submit") Download
