extends layout

block subhead
  script(src="javascripts/jquery-2.1.1.js")
  script(src="javascripts/versioner.js")

block content
  div(id="versioncontain", style="height:75px", align="middle")
    h2 View autoPACK Recipe &nbsp
      form(method='post')
        select(name='recname', class='recn')
          each rn, index in recNames
            option(value=rn)= rn
        select(name='recversion', class='recv')
        select
          option JPEG
          option WebGL
        button(type="submit") Display

  div(id="images", align="middle")
    img(src="images/hiv.png", style="width:400px")