extends layout

block content
  div(id="container", style="width:1200px, height:1000px")

    div(id="banner", style="background-color:#383838;height:150px;width:1200px", align="right")
      img(src="images/autopack.png")

    div(id="menu", style="background-color:#707070;height:400px;width:600px;float:left")
      div(align="middle")
        h1 Welcome to AUTOPACK!
        h2 What would you like to do?
     
    div(id="next", style="background-color:#A0A0A0;height:400px;width:600px;float:left;")
      div(align="middle")
        h2 REPLACE THESE WITH COOL IMAGES
        div(style="height:")
          form(action='/recipes')
            button(type="submit") View Existing Recipe
        div
          form
            button(type="submit") Modify Existing Recipe
        div
          form(action='/newrecipe')
            button(type="submit") Create New Recipe