extends layout

block content
  div(id="container", style="width:726px")
    div(id="header", style="background-color:#383838", align="middle")
      img(src="images/autopack.png")
    div(id="menu", style="background-color:#707070;height:400px;width:363px;float:left")
      ul
        each recipe, i in recipes
          li
            a(href='/recipes/'+recipe.name)= recipe.name
        li
          a(href='/newrecipe') New Recipe
    div(id="content", style="background-color:#A0A0A0;height:400px;width:363px;float:left;")
      p MORE CONTENT

    div(id="footer", align="middle")
      p Mesoscope Lab - Graham Johnson
       
