doctype html
html
    head
        title= title
        link(rel='stylesheet', href='stylesheets/style.css')
        script(src="javascripts/jquery-2.1.1.js")
        block subhead
    body
        div(id="sitecontainer", style="width:900px, height:1000px")
            div(id="banner", style="height:125px", align="right")
                img(src="images/autopack.png")

        div(id="tabs", style="height:50px")
            div(style="float:left", align="center")
                a(href="/") Download Recipe
            div(style="float:right", align="center")
                a(href="/create") Create Recipe
        block content
