extends layout

block content
  div(id="completepage")
    div(id="interface", align="middle")
      h2 Load autoPACK recipe table for: &nbsp
        select
          each rn in recipeNames
            option= rn

      h2 Version Number &nbsp
        select

      button(type="submit") Load Table