extends modify

block submitter
  form
    button Save All Changes

block table
  each recDict, arrIndex in tableTree
    h2= recDict.tablename
    table(border="1")
      tr
        th Version
        each val, key in recDict.tableoptions
          th= key
      tr
        td= recDict.tableversion
        each val, key in recDict.tableoptions
          td= val
        td
          button Save Changes
    br
    br
      