extends layout

block content
  div(id="completepage")
    div(id="interface", align="middle")
      h2 Load autoPACK recipe table for: &nbsp
        form(action='/modify', method='post')
          select(name='recname')
            each rn in recipeNames
              option= rn
          button(type="submit") Load Table
    block table