extends layout

block subhead
  script(src="javascripts/jquery-2.1.1.js")
  script(type='text/javascript').
    var local_data = !{JSON.stringify(recipeData)};
  script(src="javascripts/modify.js")

block content
  div(id="interface", align="middle")
    h2 Load autoPACK Table &nbsp
      form(method='post')
        select(name='recname', class='recn')
          each rva, rn in recipeData
            option(value=rn)= rn
        select(name='recversion', class='recv')
        button(type="submit") Load Table
    block table