extends modify

block submitter
  form
    button Revert All Changes
    button Save All Changes


block table
  each val, arrIndex in tableTree
    h2= val.tablename
    table(border="1")
      tr
        th Version
        each optionval, optionlabel in val.tableoptions
          th= optionlabel
      tr
        td= val.tableversion
        each optionval, optionlabel in val.tableoptions
          td= optionval
        td
          button Save Changes
    br
    br