extends modify

block table
  div(id="table", align="middle")
    div(id="versioner", align="middle")
      h2 Select Version: &nbsp
        form(action='/modify', method='post')
          select(name='vers')
            each pv in possibleVersions
              option= pv
          button(type="submit") Reload Table
    div(id="data", align="middle")