extends layout

block content
  h1= title
  form(action='/newrecipe', method='post')
      input(type='text', placeholder="Recipe Name", name='recipename')
      br
      button(type="submit") Submit
        